.card {
  padding: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.card__title {
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 1rem;
  text-overflow: ellipsis;
}