.theHeader {
  height: 5rem;
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  background-color: #2e2e2e;
  justify-content: space-between;
}

.theHeader__link {
  color: #fff;
  font-weight: 600;
}

.theHeader__linksItems {
  gap: 2rem;
  display: flex;
}